In [18]:
import pandas as pd
import numpy as np

NameError: name 'data' is not defined

In [5]:
purchase_data_df = '../Resources/purchase_data.json'

In [29]:
purchase_data_df = "purchase_data.json"
purchase_data_df = pd.read_json(purchase_data_df)

In [32]:
purchase_data_df.head(5)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [33]:
purchase_data_df.describe()

              Age     Item ID       Price
count  780.000000  780.000000  780.000000
mean    22.729487   91.293590    2.931192
std      6.930604   52.707537    1.115780
min      7.000000    0.000000    1.030000
25%     19.000000   44.000000    1.960000
50%     22.000000   91.000000    2.880000
75%     25.000000  135.000000    3.910000
max     45.000000  183.000000    4.950000

In [34]:
purchase_data_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [42]:
#player count, total # of players
players_df=len(purchase_data_df["SN"].value_counts())
print ("Player Count:", players_df)

Player Count: 573

In [36]:
#purchasing analysis: # of unique items, total revenue
unique_items= purchase_data_df["Item ID"].unique()
unique_items=len(purchase_data_df["Item ID"].value_counts())
print ("Unique items:", unique_items)

Unique items: 183

In [37]:
#purchasing analysis: average purchasing price 
average_item_price= purchase_data_df["Price"].mean()
print ("Average item price:", average_item_price)

Average item price: 2.931192307692303

In [38]:
#purchasing analysis: total # of purchases
transactions = purchase_data_df["SN"].count()
print("Total # of purchases:", transactions)

Total # of purchases: 780

In [39]:
#purchasing analysis: total revenue
total_sales= purchase_data_df["Price"].sum()
print("Total Revenue", total_sales)

Total Revenue 2286.3299999999963

In [40]:
#remove duplicated players
gender_df = purchase_data_df.drop_duplicates(['SN'], keep ='last')

# Determine the number of male, female, and other players
male_players_df= gender_df[gender_df['Gender']=='Male']
male_players= len(male_players_df)
female_players_df= gender_df[gender_df['Gender']=='Female']
female_players= len(female_players_df)
other_players_df= gender_df[gender_df['Gender']=='Other / Non-Disclosed']
other_players= len(other_players_df)
all_players = male_players+female_players+other_players

print ('Male players:', male_players)
print ('Female players:', female_players)
print ('Non Dislosed:', other_players) 

male_percent = ((male_players/all_players)*100)
female_percent = ((female_players/all_players)*100)
other_percent = ((other_players/all_players)*100)

print ('% Male players:', male_percent)
print ('% Female players:', female_percent)
print ('% Non-Disclosed:', other_percent)

Male players: 465
Female players: 100
Non Dislosed: 8
% Male players: 81.15183246073299
% Female players: 17.452006980802793
% Non-Disclosed: 1.3961605584642234

In [52]:
#shown as dataframe 
gender_breakdown=pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], \
                               "Percentage of Players": [male_percent, female_percent, other_percent], \
                               "Total Count": [male_players, female_players, other_players]}, \
                              columns = ["Gender", "Percentage of Players", "Total Count"])
gender_breakdown.style.format({"Percentage of Players": "{:.2f}%"})

In [60]:
#purchasing analysis(gender) broken down by gender: purchasing count, average purchase price,
#total purchase value, normalized totals 
#show as dataframe 

male_pc= purchase_data_df[purchase_data_df["Gender"] == "Male"] ["Price"].count()
female_pc= purchase_data_df[purchase_data_df["Gender"] == "Female"] ["Price"].count()
other_pc= purchase_data_df[purchase_data_df["Gender"] == "Other"] ["Price"].count()
male_avgpp= purchase_data_df[purchase_data_df["Gender"] == "Male"] ["Price"].mean()
female_avgpp= purchase_data_df[purchase_data_df["Gender"] == "Female"] ["Price"].mean()
other_avgpp= purchase_data_df[purchase_data_df["Gender"] == "Other"] ["Price"].mean()
male_tpv= purchase_data_df[purchase_data_df["Gender"] == "Male"] ["Price"].sum()
female_tpv= purchase_data_df[purchase_data_df["Gender"] == "Female"] ["Price"].sum()
other_tpv= purchase_data_df[purchase_data_df["Gender"] == "Other"] ["Price"].sum()
male_normal= male_tpv/male_players
female_normal= female_tpv/female_players
other_normal= other_tpv/other_players

purchasing_analysis=pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],\
                               "Purchasing Count": [male_pc, female_pc, other_pc],\
                               "Average Purchase Price": [male_avgpp, female_avgpp, other_avgpp],\
                                 "Total Purchase Value": [male_tpv, female_tpv, other_tpv],\
                                  "Normalized Totals": [male_normal, female_normal, other_normal]}, \
                              columns = ["Gender", "Purchasing Count", "Average Purchase Price", "Total Purchase Value", \
                                        "Normalized Totals"])
purchasing_analysis.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Normalized Totals": "${:.2f}"})

In [93]:
purchase_data_df

In [103]:
#age demographics broken into bins by years i.e. <10, 10-14, 15-19 etc.
bins = [0,10, 20, 30, 40, 45]
bin_labels = ["<10 years","11-20 years","21-30 years","31-40 years","41 and older"]

In [106]:
#pd.cut(purchase_data_df["Age"], bins, labels=bin_labels)

#this is where I am getting stuck

ValueError: setting an array element with a sequence.

In [ ]:
 #Then pull purchase count, average purchase price, total purchase value, normalized totals

In [ ]:
#pull top 5 spenders in the game by total purchase value then list in a table. Identify: SN, Purchase count 
#average purchase price, total purchase value

In [ ]:
#pull top 5 most popular items by purchase count then list in a table. Identify: Item ID, Item name, 
#purchase count, item price, total purchase value

In [ ]:
#pull top 5 most profitable items by purchase count then list in a table. Identify: Item ID, Item name, 
#purchase count, item price, total purchase value